<ion-header>
  <ion-toolbar>
    <ion-title>form2</ion-title>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button [value]="'0'">
        <ion-label>Dados Pessoais</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="'1'">
        <ion-label>Questionário</ion-label>
      </ion-segment-button>
    </ion-segment>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid *ngIf=" segment == '0'">
<ion-item style="margin-bottom: 5px">
<ion-label position ="floating"> Nome </ion-label>
<ion-input></ion-input>
</ion-item>

<ion-item style="margin-bottom: 5px"></ion-item>
<ion-label position ="floating"> Sexo </ion-label>
<ion-select [(ngModel)] ="pessoa.sexo" placeholder="Nenhuma opcao selecionada">
  <ion-select-option [value]="'M'"> Masculino </ion-select-option>
  <ion-select-option [value]="'F'"> Feminino </ion-select-option>
  <ion-select-option [value]="'N'"> Nenhum </ion-select-option>
</ion-select>

<ion-item style="margin-bottom: 5px">
  <ion-label position ="floating" stacked> Nascimento </ion-label>
  <ion-input type="date" [(ngModel)]="pessoa.data"></ion-input>
</ion-item>

<ion-item style="margin-bottom: 5px">
  <ion-label position ="floating" stacked> RG </ion-label>
    <ion-input [(ngModel)]="pessoa.rg"></ion-input>
</ion-item>


<ion-item style="margin-bottom: 5px">
  <ion-label position ="floating" stacked> CPF </ion-label>
  <ion-input [(ngModel)]="pessoa.cpf"></ion-input>
</ion-item>
</ion-grid>

<ion-grid *ngIf=" segment == '1'">

</ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="12">
      <strong> INFORMAÇÕES: </strong><br>
  {{ pessoa.nome }} - {{ pessoa.sexo }} - {{ pessoa.data }}    
    </ion-col>
  </ion-row>
</ion-footer>